<br>
<div class="logo">

    Bocatto

</div>

<br>
<ul class="menu">

    <li data-roles="ADMIN">

        <a href="#" data-route="dashboard">

            <i class="bi bi-grid"></i>

            Dashboard

        </a>

    </li>

    <li data-roles="ADMIN">

        <a href="#" data-route="usuarios">

            <i class="bi bi-people"></i>

            Usuarios

        </a>

    </li>

    <li data-roles="ADMIN,MESERO,OPERADOR">

        <a href="#" data-route="clientes">

            <i class="bi bi-person"></i>

            Clientes

        </a>

    </li>

    <li data-roles="ADMIN,MESERO">

        <a href="#" data-route="mesas">

            <i class="bi bi-table"></i>

            Mesas

        </a>

    </li>

    <li data-roles="ADMIN,MESERO,OPERADOR,COCINA">

        <a href="#" data-route="menu">

            <i class="bi bi-cup-hot"></i>

            Menú

        </a>

    </li>

    <li data-roles="ADMIN,MESERO,OPERADOR">

        <a href="#" data-route="pedidos">

            <i class="bi bi-receipt"></i>

            Pedidos

        </a>

    </li>

    <li data-roles="ADMIN">

        <a href="#" data-route="promociones">

            <i class="bi bi-percent"></i>

            Promociones

        </a>

    </li>

    <li data-roles="ADMIN,COCINA">

        <a href="#" data-route="cocina">

            <i class="bi bi-fire"></i>

            Cocina

        </a>

    </li>

    <li data-roles="ADMIN,CAJA">

        <a href="#" data-route="caja">

            <i class="bi bi-cash-stack"></i>

            Caja

        </a>

    </li>

    <li data-roles="ADMIN,CAJA">

        <a href="#" data-route="reportes">

            <i class="bi bi-bar-chart"></i>

            Reportes

        </a>

    </li>

</ul>