<nav class="navbar navbar-expand-lg bg-white shadow-sm">

    <div class="container-fluid">

        <h4>

            Sistema Bocatto

        </h4>

        <div class="d-flex align-items-center gap-3">

            <div class="text-end">

                <strong id="navbarUsuario">

                    Administrador

                </strong>

                <br>

                <small id="navbarRol">

                    ADMIN

                </small>

            </div>

            <button

                id="logout"

                class="btn btn-outline-danger">

                <i class="bi bi-box-arrow-right"></i>

                Salir

            </button>

        </div>

    </div>

</nav>